/* Reset de Estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

/* Plano de Fundo do Corpo */
body {
    background-color: #f2f2f2; 
}

.container {
    height: 100vh; 
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Botão de Alternância de Tema */
.theme-toggler {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

/* Display da Calculadora */
#display {
    margin: 0 10px;
    height: 100px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.5em; 
    margin-bottom: 10px; 
    overflow-x: scroll;
    color: #333;
    line-height: 1.5;
}

#display::-webkit-scrollbar {
    display: none;
}

/* Botões */
button {
    height: 50px; 
    width: 50px; 
    border: 0;
    border-radius: 25px;
    margin: 5px;
    font-size: 1.2em; 
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.05);
}

button#equal {
    height: 100px;
    font-weight: bold;
    font-size: 1.5em;
}

/* Tema Claro */
.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #333;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #7ab4bb;
    color: #000;
}

.calculator button.btn-operator {
    background-color: #87d19a;
    color: #090909;
}

.calculator button.btn-equal {
    background-color: #3c1e9e;
    color: #eee;
}

/* Tema Escuro */
.calculator.dark {
    background-color: #2d2d2d;
}

.calculator.dark #display {
    color: #f8fafd;
}

.calculator.dark button#clear {
    background-color: #4d3943;
    color: #bd3740;
}

.calculator.dark button.btn-number {
    background-color: #849ca7;
    color: #060607;
}

.calculator.dark button.btn-operator {
    background-color: #c1b72a;
    color: #090809;
}

.calculator.dark button.btn-equal {
    background-color: #38b341;
    color: #fff;
}
